@model IEnumerable<ipm_quickstart_csharp_mac.Models.Friend>

<header>
    <a href="https://www.twilio.com/docs/api/ip-messaging/guides/quickstart-js"
       target="_blank">
        Read the getting started guide
        <i class="fa fa-fw fa-external-link"></i>
    </a>
</header>

<div id="selector">
    <select name="friend" onchange="joinChannel(this.options[this.selectedIndex].value)">
        <option value="general">General</option>
        @foreach (var item in Model) {
            <option value="@item.Number">@item.Name</option>
        }
    </select> 
    @Html.ActionLink("Create New", "Create", new { controller = "Friend" })
</div>

<section>
    <div id="messages"></div>
    <input id="chat-input" type="text" placeholder="say anything" autofocus />
</section>